@font-face {
  font-family: "iconfont"; /* Project id 3317354 */
  src: url('iconfont.woff2?t=1658829265252') format('woff2'),
       url('iconfont.woff?t=1658829265252') format('woff'),
       url('iconfont.ttf?t=1658829265252') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dashangzonge:before {
  content: "\e604";
}

.icon-xiangshang:before {
  content: "\e635";
}

.icon-wordpress:before {
  content: "\e73e";
}

.icon-kefunv:before {
  content: "\e672";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-notification:before {
  content: "\e7da";
}

.icon-sound:before {
  content: "\e7db";
}

.icon-tags:before {
  content: "\e7e5";
}

.icon-down:before {
  content: "\e7eb";
}

.icon-weixin:before {
  content: "\e883";
}

.icon-alipay:before {
  content: "\e884";
}

.icon-comment:before {
  content: "\e8e8";
}

.icon-Rectangle:before {
  content: "\e6a4";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-jia:before {
  content: "\e614";
}

.icon-jian:before {
  content: "\e619";
}

.icon-dianzan:before {
  content: "\e60c";
}

.icon-wendang:before {
  content: "\e62b";
}

.icon-chahao:before {
  content: "\e668";
}

.icon-QQ-fill:before {
  content: "\e63a";
}

.icon-shijian:before {
  content: "\e8b8";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-home:before {
  content: "\e601";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-discount:before {
  content: "\e74c";
}

.icon-layers:before {
  content: "\e675";
}

.icon-pin:before {
  content: "\e67b";
}

.icon-bangzhu:before {
  content: "\e602";
}

.icon-arrow-right:before {
  content: "\e840";
}

.icon-arrow-left:before {
  content: "\e841";
}

.icon-saoma:before {
  content: "\e637";
}

.icon-yanshi-faqizhe:before {
  content: "\e603";
}

.icon-duihao1:before {
  content: "\e624";
}

.icon-search:before {
  content: "\e65c";
}

.icon-xyjt:before {
  content: "\e65f";
}

.icon-xzjt:before {
  content: "\e660";
}

.icon-yxiazai:before {
  content: "\e600";
}

